<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SlideTitleColor</key>
	<string>#F78F1E</string>
	<key>BreadcrumbMainColor</key>
	<string>#FF0000</string>
	<key>navLayerBundle</key>
	<string>MY_Merone_N_Navigation.bundle</string>
</dict>
</plist>
