<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Supported Orientations</key>
	<dict>
		<key>Landscape Left</key>
		<true/>
		<key>Landscape Right</key>
		<true/>
		<key>Portrait</key>
		<false/>
		<key>Portrait Upside Down</key>
		<false/>
	</dict>
	<key>Menu</key>
	<dict>
		<key>AssetID</key>
		<string>Revised_Menu</string>
	</dict>
	<key>ActiveCall</key>
	<array>
		<string>PageHome</string>
		<string>PageBroad::Page1</string>
		<string>PageCompare::Page5</string>
		<string>PageIndication::Page8</string>
		<string>PageToreability::Page12</string>
		<string>PageDosing::Page15</string>
		<string>PageTrust::Page20</string>
		<string>PageSummary::Page22</string>
		<string>PagePrese</string>
	</array>
	<key>Slides</key>
	<array>
		<dict>
			<key>Title</key>
			<string>PageHome</string>
			<key>URL</key>
			<string>Page1/index.html</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>PageBroad</string>
			<key>Subcontent</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Page1</string>
					<key>URL</key>
					<string>Page2/index.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Page2</string>
					<key>URL</key>
					<string>Page3/index.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Page3</string>
					<key>URL</key>
					<string>Page4/index.html</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>PageCompare</string>
			<key>Subcontent</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Page5</string>
					<key>URL</key>
					<string>Page5/index.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Page6</string>
					<key>URL</key>
					<string>Page6/index.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Page7</string>
					<key>URL</key>
					<string>Page7/index.html</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>PageIndication</string>
			<key>Subcontent</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Page8</string>
					<key>URL</key>
					<string>Page8/index.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Page9</string>
					<key>URL</key>
					<string>Page9/index.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Page10</string>
					<key>URL</key>
					<string>Page10/index.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Page11</string>
					<key>URL</key>
					<string>Page11/index.html</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>PageToreability</string>
			<key>Subcontent</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Page12</string>
					<key>URL</key>
					<string>Page12/index.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Page13</string>
					<key>URL</key>
					<string>Page13/index.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Page14</string>
					<key>URL</key>
					<string>Page14/index.html</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>PageDosing</string>
			<key>Subcontent</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Page15</string>
					<key>URL</key>
					<string>Page15/index.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Page16</string>
					<key>URL</key>
					<string>Page16/index.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Page17</string>
					<key>URL</key>
					<string>Page17/index.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Page18</string>
					<key>URL</key>
					<string>Page18/index.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Page19</string>
					<key>URL</key>
					<string>Page19/index.html</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>PageTrust</string>
			<key>Subcontent</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Page20</string>
					<key>URL</key>
					<string>Page20/index.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Page21</string>
					<key>URL</key>
					<string>Page21/index.html</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>PageSummary</string>
			<key>Subcontent</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Page22</string>
					<key>URL</key>
					<string>Page22/index.html</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Page23</string>
					<key>URL</key>
					<string>Page23/index.html</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>PagePrese</string>
			<key>URL</key>
			<string>Page24/index.html</string>
		</dict>
	</array>
</dict>
</plist>
